doctype html
html
  head
    title My title
    block head
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/bootstrap-theme.css')
  body
    .container
      block content